# Dipendenze Node
node_modules/

# File di sistema
.DS_Store
Thumbs.db
desktop.ini

# Log
*.log

# Android build artifacts
android-project/.gradle/
android-project/build/
android-project/app/build/
android-project/app-release-signed.apk
android-project/app-release-signed.apk.idsig

# Keystore (gestito via GitHub Secrets)
android-project/signingKey.keystore
